
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 87, 30%, 37%, 0.15;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    overflow-x: hidden;
    @apply bg-background text-foreground font-mono;
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    @apply text-lg;
  }


  /* Custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    height: 0.375rem;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(250, 247, 241, 0.8);
    border-radius: 0.25rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(177, 75, 87, 0.6);
    border-radius: 0.25rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(177, 75, 87, 0.8);
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(177, 75, 87, 0.6) rgba(250, 247, 241, 0.8);
  }

  @font-face {
    font-family: "Merriweather";
    src: url("assets/fonts/Merriweather-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("assets/fonts/Merriweather-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("assets/fonts/Merriweather-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Satisfy";
    src: url("assets/fonts/Satisfy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
}
